:root {
    --primary-color: #8BD6C8;
    --primary-color-dark: #60918C;
}

.color-primary{
    color: var(--primary-color);
}

.btn-primary{
    background-color: var(--primary-color);
}

.btn-primary-dark{
    background-color: var(--primary-color-dark);
}

.text-2xs {
    font-size: 10px;
}

/* From Uiverse.io by barisdogansutcu */ 
.loading {
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}
